* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: avenir, roboto, helvetica, sans-serif;
  margin: 2rem calc(2vw + 2rem);
}


/* //opacity 1000ms ease-in-out, background 800ms ease-in-out, transform 800ms cubic-bezier(.45,0,.27,1) */

.main {
  margin-top:30rem;
    display: block;
    columns: 25rem;
  gap: 2rem;
}

.container {
  background-color: #eee;
  width: 1000px;
  margin: 0 auto;
  padding: 50px;
  display: grid;
  grid-gap: 80px;
}

.item {
  display: block;
  text-align: center;
  color: #fff;
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  /* // background-color: #123456; */
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.title {
  color: #fff;
  text-align:center;
  padding:50px;
  background-color: #003456;
  opacity: 0.7;
  margin-bottom: 2rem;
}

img {
  width: 100%;
  display: block;
  /*   border-radius:1rem 1rem 0 0; */

  
}


img.loaded:not(.has-error) {
  animation: loaded 300ms ease-in-out;
}

/* img.has-error {
  content: url();
} */

figcaption {
  width:100%;
  top:0;
  left:0;
  padding: 0.5rem 1rem 0.4rem;
  background: #eee;
  color: #333;
  text-align: end;
}


.view {

  text-transform:uppercase;
  font-size:3rem;
  letter-spacing:.1em;
  z-index:3;
  
 
}

.letter {
  display:inline-block;
  line-height:1em;
}


@keyframes loaded {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
